* {
	font-family: Arial;
}
.banner_top img {
	width: 100%;
}
.navbar {
	margin-bottom: 0;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
	color: #000;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #eee!important;
	color: #000;
}
.navbar-inverse {
	background-color: #fff;
	border-color: #fff;
	border-bottom: 1px solid #000;
}
.navbar-inverse .navbar-nav>li>a {
	color: #777;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #337ab7;
}
.navbar-inverse img {
	width: 100%;
	height: auto;
}
.nav li a {
	border-right: 1px solid #eee;
}
a, a:hover {
	text-decoration: none;
}
header img {
	width: 100%;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
	background: #f68f36;
}
.option {
	margin: 10px 0;
}
.thumbnail {
	box-shadow: 0 3px 14px rgba(0,0,0,.15);
}
.thumbnail .caption {
  height: 125px;
}
.captionText {
  height: 42px;
  overflow: hidden;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.thumbnail:hover .image {
  opacity: 0.3;
}
.thumbnail:hover .middle {
  opacity: 1;
}
.text {
  background-color: #337ab7;
  color: white;
  font-size: 12px;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: -90px;
}
.text a:hover {
	color: #fff;
}
.checked {
    color: #0a75b5;
}
.starBlue {
	text-align: right;
}
main {
 	padding: 0 80px;
 	background-color: #f3f3f3;
}
.lecturers {
	margin-bottom: 10px;
}
.lecturers a strong {
	font-size: 12px;
}
.price {
	padding-top: 10px;
	border-top: 1px solid #888;
}
.price .old-price {
	text-decoration: line-through;
	color: #888;
	margin-left: 5px;
}
.price .discount {
    font-size: 16px;
    color: #fff;
    background-color: #ed1c24;
    padding: 0px 3px;
    text-decoration: none;
    font-weight: bold;
    float: right;
}
.combo {
	padding-left: 30px;
}
.viewMore, .viewMore a:hover {
	text-align: right;
	color: #2a70b8;
}
.tag_hots {
	text-align: center;
	background-color: #f3f3f3;
}
.tag_hots h3 {
	margin-top: 35px;
}
.tag_hots .col-md-4 {
    width: 30.7%;
    color: #fff;
}
.tag_hots .col-md-4 {
    border-radius: 20px;
    transition: background-color 100ms ease-in-out , color 100ms ease-in-out , border-color 100ms ease-in-out;
    font-weight: 300;
    border: 1px solid #337ab7;
    text-align: center;
    background-color: #31708f;
    opacity: 0.7;
    padding: 15px 10px;
    margin: 15px 10px;
    font-size: 16px;
}
.tag_hots .col-md-4:hover {
    background-color: #f77c76;
}
.tag_item a:hover {
	color: #fff;
}
footer {
	padding-top: 10px;
	background: #6186c6;
	color: #d5e1f9;
}
footer ul li {
	list-style-type: none;
	line-height: 30px;
}
.foo {
	margin-top: -10px;
	text-align: center;
	color: #d5e1f9;
}
.why {
	background-color: #fff;
	text-align: center;
	padding: 0 100px;
}
.why h2 {
	color: #31708f;
	font-size: 28px;
	margin: 10px 0;
}
.why img:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.why .first h3 {
	color: #eb8e8e;
}
.why .second h3 {
	color: #edbc24;
}
.why .third h3 {
	color: #7f9dd3;
}
.why .last h3 {
	color: #95cd53;
}
.search {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.search .input-group {
	min-width: 350px;
}
.search .glyphicon {
	color: #fff;
}
.search input {
	background-color: #eee!important;
}
.dropdown-menu li {
	margin: 10px 0;
}
.dropdown-toggle {
	font-size: 12px;
}
.downloadApp {
	margin-top: -10px;
}
.downloadApp img {
	width: 25%;
}
.item-list li a:hover {
	color: #fff;
}
.nav-center {
	padding-top: 10px;
  	text-align: center;
}
.nav-center ul.nav {
    display: inline-block;
}
.nav-center ul.nav li {
  	display: inline
}
.nav-center ul.nav li a {
    float: left
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #f58829;
}
.xem-them {
	text-align: center;
}
.info h1 {
	margin: ;
	color: #6186c6;
}
.info {
 	text-align: center;
 	padding: 0 150px;
 }
 .gt, .gt2 {
 	padding: 0 100px;
 }
 .gt2 {
 	background-color: #f7f7f7;
 }
 .gt img, .gt2 img {
 	width: 100%;
 }
 .gt strong, .gt2 strong {
 	color: #2eb1ea;
 }
 ..gt h2, .gt2 h2 {
 	color: #666666;
 }
 .gt p, .gt2 p {
 	line-height: 28px;
 	font-size: 16px;
 	font-weight: 300;
 	color: #666666;
}
.faq {
	background-image: url(https://static1.squarespace.com/static/56db4b9b07eaa05aaab5f1d8/t/56db6249356fb0dac9d6357f/1457218121600/banner-132.jpg?format=2500w);
	background-size: cover;
	height: 250px;
	text-align: center;
}
.faq h1 {
	margin-top: 50px;
	font-weight: 300;
	font-size: 38px;
	line-height: 46px;
}
.faq input {
	border-radius: 8px;
    height: 45px;
    width: 56%;
    margin-top: 30px;
    text-align: center;
    border: 1px solid #fff;
}
.page_faq {
	padding: 0 100px;
}
.page_faq h1 {
	font-size: 26px;
	line-height: 31px;
	font-weight: 300;
	color: #32373b;
	margin: 50px 0;
}
.page_faq h2 {
	font-weight: 300;
	cursor: pointer;
}
.faq_text {
	white-space: pre-line;
	line-height: 31px;
	margin-left: 50px;
	font-weight: 300;
}
.faq_footer {
	margin-top: 50px;
	height: 110px;
	background-color: #000;
	text-align: center;
	color: #fff;
}
.faq_footer h1 a {
	color: #ffd28a;
	text-decoration: none;
}
.titleProduct {
	background-color: #333;
	margin-top: -20px!important;
	min-height: 225px;
}
.titleProduct h1 {
	font-size: 26px;
	margin: 0;
	padding: 10px 0;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	line-height: 150%;
}
.titleProduct p {
	font-size: 18px;
	color: #fff;
	margin: 0 0 5px 0;
}
.titleProduct p span, .titleProduct p a {
	font-size: 14px;
	margin: 0 0 20px 0;
}
.titleProduct p a {
	color: #8ab3d6;
	font-style: italic;
}
.titleProduct .col-md-8 {
	padding: 10px 95px;
}
.main {
	padding: 0 80px;
}
.main .panel {
	background-color: #f9f9f9;
	margin-top: 10px;
}
.main .panel-body h5 {
	margin: 10px 0 10px 15px;
}
.main .colLeft .fa {
	color: green;
}
.colLeft p {
	margin: 0;
}
.stickyRight {
	margin-top: -200px;
	position: sticky;
	top: 0;
}
.stickyRight #imgKH {
	width: 100%;
}
.lecturerProduct img {
	max-width: 100%;
	height: auto;
	border: none;
	border-radius: 50%;
}
.titleLecturer {
	text-align: center;
}
.titleLecturer a {
	color: #000;
	font-weight: bold;
	font-size: 16px;
}
.articleLecturer {
	font-size: 12px;
	color: #777;
}
.commentProduct .cmt {
	color: orange;
	font-size: 12px;
}
.commentProduct p {
	color: #777;
	margin: 5px 0;
}
.commentProduct span {
	font-weight: bold;
	font-size: 18px;
}
.commentProduct .cmtName {
	font-size: 14px;
	font-weight: normal;
	color: #777;
}
.stickyRight ul li {
	list-style-type: none;
}
.priceNow span {
	font-size: 26px;
	font-weight: bold;
	color: #333;
}
.priceOrigin, .priceSale {
	margin-top: 10px;
}
.priceOrigin span {
	text-decoration: line-through;
	color: #777;
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;
}
.priceSale span {
	font-size: 15px;
	color: #fff;
	background-color: red;
	padding: 5px 10px;
	font-weight: bold;
}
.stickyRight button {
	width: 100%;
	background-color: #f58829;
	text-transform: uppercase;
	font-weight: bold;
	margin: 10px 0;
}
.stickyRight button:hover {
	background-color: #5890ff;
	border: 1px solid #5890ff;
}
.stickyRight p {
	color: #777;
}
.coupon {
	text-align: center;
	color: #2a70b8;
}
.pay {
	padding: 0 200px;
}
.pay h1 {
	font-weight: 600;
	font-size: 30px;
}
.pay h3 {
	font-weight: 600;
	font-size: 20px;
	line-height: 40px;
}
.pay ul li {
	list-style-type: circle;
}
.pay span {
	font-weight: bold;
	color: rgb(25, 118, 210);
}
.pay span strong{
	color: #000;
	font-style: italic;
}
.pay table {
	margin-top: 10px;
}
.pay table thead tr th {
	font-weight: bold;
	font-size: 14px;
}
.pay table tbody tr td {
	line-height: 25px;
}
.tagKH button {
	margin-right: 5px;
}
.lecturerProduct .row {
	margin: 25px 0;
}
.commentProduct {
	margin-bottom: 25px;
}
.content, .mainCart {
	background-color: rgb(245, 245, 245);
}
.content .col-sm-offset-2 {
	background-color: #fff;
	padding-bottom: 20px;
}
.content .col-sm-offset-2 h2 {
	font-size: 16.5pt;
	font-weight: 700;
	line-height: 35px;
	text-align: center;
}
.content .col-sm-offset-2 p {
	font-size: 12pt;
}
.content .col-sm-offset-2 .mau-chu {
	font-size: 10.5pt;
	color: rgb(231, 76, 60);
	font-weight: 700;
}
.content .col-sm-offset-2 strong {
	line-height: 35px;
}
.content .col-sm-offset-2 a {
	color: rgb(17, 85, 204);
}
.row .cart {
	color: #333;
	border-bottom: none;
	font-size: 26px;
	margin: 0;
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 150%;
	margin-left: 10px;
}
.row .noneCart {
	text-align: center;
	padding: 10%;
}
.row .listCart {
	padding: 70px;
}
.row .titleCart {
	max-width: 234px;
}
.countCart {
	background-color: #ec6237;
	color: #fff!important;
	line-height: 1;
	padding: 2px 4px;
	position: absolute;
	top: 7px;
	left: 23px;
	border-radius: 2px;
	font-size: 12px;
}
.loading {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #fff;
	padding: 15%;
}
.panel-footer, .checkOut {
	text-align: right;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.banner {
	text-align: center;
}
.mainLecturers {
	background-color: #eee;
}
.row .topLecturers {
	background-color: #fff;
	margin: 20px 150px 0;
}
.row .bottomLecturers {
	margin: 0 150px;
}
.infoLecturers h3 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.1;
	color: inherit;
}
.row .topLecturers .col-md-9 {
	margin-top: 20px;
}
.row .topLecturers .col-md-3 {
	text-align: center;
	margin-top: 20px;
}
.topLecturers h2 {
	font-weight: 700;
}
.row .bottomLecturers h5 {
	font-weight: 700;
	text-transform: uppercase;
}
.bottomLecturers #resultLecturers .row {
	border-top: 1px solid #999;
	padding: 10px 0;
}
.bottomLecturers #resultLecturers .row img {
	width: 80%;
}
.bottomLecturers .container {
	padding: 0;
}
.bottomLecturers .container .table img {
	width: 186px;
	height: auto;
}
.bottomLecturers .container .table .tenKhoaHoc a {
	font-weight: 700;
	color: #2a70b8;
}
.bottomLecturers .container .table tbody tr .tenKhoaHoc {
	max-width: 250px;
}
.bottomLecturers .container .table tbody tr .tenKhoaHoc .starBlue {
	text-align: left;
	margin-top: 10px;
}
.bottomLecturers .container .table tbody tr .tenKhoaHoc .starBlue .checked {
	color: #f58829;
}
.bottomLecturers .imgLecturers {
	width: 1px;
}
#imgGV {
	width: 100%;
}
.videoIntro {
	text-align: center;
	margin: 20px 0;
}
#checkSign, #checkLogin, #checkSignTwo {
	display: none;
}
.btnXH, .pluginCommentTTHHN {
	margin: 10px 0;
}
.rsSearch {
	display: none;
	margin-top: 10px;
}
.textSearch {
	margin-top: 0;
	font-size: 30px;
	line-height: 60px;
}
.searchMain {
	margin-top: -10px;
	padding-top: 10px;
}
.rsSearch h1 {
	font-size: 22px;
	font-weight: 500;
	margin-top: -10px;
	line-height: 50px;
}
.error404 {
	text-align: center;
	padding: 10%;
	/*display: none;*/
	margin-top: -10px;
}
.star {
	color: yellow;
}
.content, .l-main {
  margin: 0;
  background-color: #fff;
}
.content ul li {
	list-style-type: none;
}
.page-title {
  color: green;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
}
.selectCO {
	border-radius: 5px;
  	border: 1px solid #eee; 
  	height: 60px; 
  	margin-left: 20px;
  	margin-right: 20px;
  	padding-left: 10px;
  	width: 300px;
}
.selectCO:hover {
	border-color: #50ad4e;
	cursor: pointer;
}
.selectCO span {
  font-weight: bold;
}
.selectCO input[type=radio] {
  margin-top: 20px;
}
.thongtin {
  	margin-left: 30px;
  	border: 1px solid #eee;
  	border-radius: 5px;
  	background-color: #f9f9f9;
  	padding: 15px;
  	margin-bottom: 20px;
}
#chuyenkhoan p,#atm p,#visa p {
  	color: green;
  	font-weight: bold;
}
.apdung  {
  	border-top: 1px dashed #aaa;
  	margin: 7px 0 7px;  
}
.checkout-list-price {
    margin-top: 20px;
    position: relative;
    margin-left: -15px;
    width: calc(100% + 30px);
    padding: 15px;
    background-color: #f9f9f9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.color-orange {
  	color: #fb6a00!important;
  	font-weight: bold;
}
.thanhtoan {
  	margin-top: 100px;
  	float: right;
  	width: 100%;
  	background-color: #fff;
  	position: sticky;
  	bottom: 0;
  	box-shadow: 0 -10px 15px rgba(0,0,0,.1);
  	border-top: 1px solid #ddd;
  	height: 50px;
}
.row .col-md-6 fieldset {
  	margin-top: 20px;
  	border-radius: 10px;
  	margin-left: 40px;
}
.row .col-md-6 fieldset:hover {
  	border: 1px solid #50ad4e;
}
.row .col-md-6 fieldset legend {
    width: auto;
    font-size: 16px;
    color: #777;
    margin-bottom: 0;
}
.row .col-md-6 fieldset input, .row .col-md-6 fieldset textarea {
  	border: none;
  	margin-top: -17px;
  	margin-bottom: -11px;
  	height: 50px;
  	width: 104%;
  	margin-left: -8px;
  	border-radius: 10px;
}
.ifLogin {
  background-color: #fff8f3;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: none;
}
.ifLogin p {
  text-align: center;
}
.btnLogin {
  text-align: center;
}
.gia {
  float: right;
  margin-right: -42%;
}
.phuongthuc {
  width: 40px;
}
.checkout-list {
	margin-left: -15px;
}
.panel-heading .change, .panel-body .col-md-4 {
	text-align: right;
}
.panel-heading .change a {
	font-style: italic;
	color: #333;
}
.page-content {
	margin-bottom: 15px;
}
.mainEdit {
	padding: 10px 150px;
}
.mainEdit .panel-heading {
	text-align: center;
}
.mainEdit .panel-heading h2 {
	font-weight: 400;
	font-size: 24px;
}
.user-avatar {
	text-align: center;
	display: inline-block;
	margin: 30px;
}
.user-avatar .file-upload:hover::after{
	content:"Đổi hình";
	position:absolute;
	top:0;
	left:0;
	width:120px;
	height:120px;
	line-height:120px;
	color:#fff;
	border-radius:50%;
	background-color:rgba(0,0,0,.5);
	cursor: pointer;
}
.file-upload {
	color: black;
	display: table-cell;
	width: 122px;
	height: 122px;
	border: 1px solid transparent;
	border-radius: 50%;
	vertical-align: middle;
	position: relative;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: inherit;
}
.avatar-empty {
	border-color: #ccc;
}
.mainEdit .panel-body {
	padding: 20px 100px;
}
.user-avatar #fileSelect {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	filter: opacity(0);
	z-index: 9;
}
.paypal {
	text-align: center;
}
.changePsw {
	cursor: pointer;
}
.showChangePsw {
	display: none;
}
.alertOldPsw, .alertNewPsw, .alertRePsw {
	color: red;
}
.price1 {
	float: right;
}
.ttkh {
	margin-bottom: 15px;
}
.ttkh1 {
	height: 45px;
    overflow: hidden;
}
.cart1 {
	color: #63b458;
	font-size: 20px;
}
.panel-footer .row .priceOrigin {
	text-align: left;
}
.panel-footer .row .priceAfter {
	text-align: right;
	margin-top: 10px;
}
.mapApi {
	margin: 0 150px;
}
.mapApi h1 {
	text-align: center;
}

.slogan{
	text-align: center;
	width: 90%;
	padding-top: 30px;
}

.slogan h1{
    text-transform: uppercase;
    margin: 0px 10px;
    line-height: 56px;
    font-weight: bold;
    margin-left: 10%;
    color: white;
}

.intro{
	font-size: 21px;
    margin-bottom: 100px;
    text-align: center;
    color: #d2d2d2;
    margin-top: 3%;
}
.abc {
	background-image: url(https://static.unica.vn/images/header-bg.jpg);
	height: 30%;
	border-bottom: 23px solid #f05f40; 
}
.link_dk{
	text-align: center;
	margin-bottom: 50px;
}

.link_dk a:hover{
	background-color: #0975b4;
	border: 1px solid #0975b4;
}

.video_affiliate{
	text-align: center;
}

.content_affiliate{
	border-top-color: green;
	border-bottom-color: green;
	border-left-color: white;
	border-right-color: white;
	margin-top: 3%;
	margin-bottom: 5%;
	border: 1px dashed green;
}
.content_affiliate a{
	color: blue;
}

.description_affiliate{
	text-align: center;
	width: 60%;
	margin-left: 19%;
	font-size: 17px;
}

.description_affiliate p{
	margin-top: 4%;
}
.number_affiliate{
	color: green;
	font-weight: bold;
}

.description_affiliate2 {
	text-align: center;
	width: 60%;
	margin-left: 19%;
	font-size: 17px;
	margin-bottom: 20px;
}
.content_affiliate2{
	background-image: url(https://static.unica.vn/images/page-2-bg.jpg);
	color: white;
	width: 100%;
	height: 30%;
	margin-top: 50px
}
.content_affiliate2 hr{
	padding: 0 200px;
}

.hr_affiliate{
	max-width: 60%;
 	margin-left: 20%;
}

.title_affiliate2{
	padding-top: 10px;
	text-align: center;
}

.content_affiliate3 {
text-align: center;
margin-top: 20px;
}

.boder_affiliate{
	max-width: 200px;
	border: 2px solid red;
	margin-left: 43%;
	margin: 20px auto 80px;
}

.content_affiliate4{
	text-align: center;
	margin-top: 30px;
	background-color: #17bb99;
}

.content_affiliate4 h1{
	color: white;
	margin: 30px 0;
}
.content_affiliate4 .why{
	background-color: #17bb99;
}

.img_affiliate1 {
background-color: #1a5bac;
height: 80px;
padding: 10px;
}

.img_affiliate2 {
background-color: #4d1686;
height: 80px;
padding: 5px;
}

.img_affiliate3 {
background-color: #0c6050;
height: 80px;
padding: 5px;
}

.img_affiliate p {
margin: 10px 0 10px;
}

.content_affiliate3 h2{
	font-weight: bold;
}
.img_affiliate{
	border: 3px solid white;
	background-color: white;
	margin-top: 30px;
	margin-bottom: 80px;
	margin-left: 8%;
}

.title_affiliate3 h1{
	padding-top: 20px;
}

.title_affiliate3 ul li{
	padding: 10px 0;
	margin-left: 10%;
	font-size: 14px;
	margin: 10px 0;
}

.ul_li_affiliate{
	width: 80%;
	margin-left: 10%;
}

.title_affiliate5 h3{
	text-align: center;
	color: white;
	font-weight: bold;
	padding-bottom: 10px;
}

.link_dk2{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 40px;
}

.link_dk2 a:hover{
	background-color: #0975b4;
	border: 1px solid #0975b4;
}

.title_affiliate5{
	background-image: url(https://static.unica.vn/images/footer-bg.jpg);
	height: 250px;
	padding-bottom: 10px;
}

.why {

}
.btn-add {
	padding: 10px;
	width: 160px;
	font-size: 16px;
	border-radius: 50px;
	text-transform: uppercase;
	font-weight: bold;
}

.quay_quay {
	margin-top: -20px;
	background-color: #f5f2eb;
	padding-top: 10px;
}

.quay_quay h2{
	text-align: center;
	padding-bottom: 10px;
}

.content_affiliate5{
	padding-top: 10px;
	margin-bottom: 3%;
}
.map {
	font-size: 17px;
<<<<<<< HEAD
}
/*moi*/
.sidebar-left {
	padding: 15px 0;
	background-color: #2a3f54;
	float: left;
	width: 100%;
}
.user-info {
	float: left;
	width: 90%;
	margin:0 5%;
}
.images1 {
	float: left;
	max-width: 25%;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 15px 0 0;
}
.name1 {
	color: white;
	font-weight: bold;
	font-size: 12px;
	padding: 15px 0 0 0;
}
.user-menu {
	float: left;
	width: 100%;
}
#main-content .breadcrumb {
	background: none;
	padding: 0;
	border-radius: 0;
	margin: 20px 0;
}
#main-content .main-inner {
	background-color: #fff;
	border-radius: 5px;
}
.page-header {
	font-size: 18px;
	margin: 0;
	padding: 15px;
	color: #000;
	text-transform: uppercase;
}
.user-menu .content h3 {
	font-weight: bold;
	font-size: 16px;
	margin: 0 0 0 0;
	padding: 10px;
	background-color: #405d7a;
	text-transform: uppercase;
	color: white;
}
.flR-Top {
	float: right;
}
.user-menu .content {
	margin: 10px 0 0 0;
}
.user-menu .content ul li a {
	color: white;
	padding: 7px 10px 7px 20px;
	display: block;
=======
>>>>>>> bb680219d15624faaf74c4138fc557e6119d97f1
}
-----------------------------------------------
.ul_li_affiliate ul li{
    margin: 0 0 25px 0;
    color: #464646;
    font-size: 16px;
    float: left;
    width: 100%;
}

.ul_li_affiliate ul li.mot span{
	background-color: #18bc9c;
	color: #fff;
    padding: 5px 13px;
    border-radius: 20px;
    margin: 0 20px 0 0;
    float: left;
}

.ul_li_affiliate ul li.hai span{
	background-color: #f7844c;
	color: #fff;
    padding: 5px 13px;
    border-radius: 20px;
    margin: 0 20px 0 0;
    float: left;
}

.ul_li_affiliate ul li.ba span{
	background-color: #f7bd4c;
	color: #fff;
    padding: 5px 13px;
    border-radius: 20px;
    margin: 0 20px 0 0;
    float: left;
}

.ul_li_affiliate ul li.bon span{
	background-color: #74f74c;
	color: #fff;
    padding: 5px 13px;
    border-radius: 20px;
    margin: 0 20px 0 0;
    float: left;
}

.ul_li_affiliate ul li.nam span{
	background-color: #f7844c;
	color: #fff;
    padding: 5px 13px;
    border-radius: 20px;
    margin: 0 20px 0 0;
    float: left;
}

.ul_li_affiliate ul li.sau span{
	background-color: #4ca9f7;
	color: #fff;
    padding: 5px 13px;
    border-radius: 20px;
    margin: 0 20px 0 0;
    float: left;
}

.ul_li_affiliate ul li.bay span{
	background-color: #18bc9c;
	color: #fff;
    padding: 5px 13px;
    border-radius: 20px;
    margin: 0 20px 0 0;
    float: left;
}

.ul_li_affiliate ul{
	list-style: none;
>>>>>>> 037eba0af721bbef7c789b2181e28e591b7fdef1
}