.bg-blue {
	background-color:#337ab7;
}
.form-margin {
	margin: 5px 10px;
}
.btn-submit {
margin-top:7px;
}

.alert {
	color: blue;
	display: none;
	padding:0 0;
	margin: 0 0;
	text-align: center;
}
.modal-header {
	margin-bottom: 0px;
}

.videoTitle {
	height: 50px;
	overflow: auto;
	font-size: 15px;
}

.container-fluid {
	margin: 10px;
}

.pew iframe{
	text-align: center;
}