* {
  font-family: roboto;
}

body{
  background-color: #CDC9C9;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
  color: #000;
}
.navbar-inverse {
  background-color: #fff;
  border-color: #fff;
}
 .navbar-inverse .navbar-nav>li>a:hover {
  color: #000;
  
}
a, a:hover {
  text-decoration: none;
}
.hihi {
    position: sticky;
  top: 0;
  z-index: 1000

}
.navbar-inverse {
  position: sticky;
  z-index: 1000;
  border: 1px;
  background-color: white;
}

.haha {
    position: sticky;
  top: 100px;
  z-index: 1000
}
.btn-warning {
  width: 400px;
  }

.btn-primary {
width: 400px;
}
.Dangkyhoc {
  text-align: center;
  margin-top: 5px;
}
.header2 {
  background-image: url(https://static1.squarespace.com/static/56db4b9b07eaa05aaab5f1d8/t/56db6249356fb0dac9d6357f/1457218121600/banner-132.jpg?format=2500w);
  background-size: cover;
  height: 250px;
}

.header3 {
  height: 200px;
  background-color: #333;
  margin-top: 70px!important;
  margin-bottom: -72px;
}

.gioithieu {

  margin-top: 60px;
  text-align: center;
}
.gioithieu1 {
 border-radius: 8px;
    height: 45px;
    width: 56%;
    margin-top: 30px;
    text-align: center;
    border: 1px solid #fff;
}

.gioithieu2 {
      margin-left: 190px;
    margin-top: 110px;
}
.gioithieu4 {
      margin: 30px 175px;
}

.gioithieu5 {
  margin-left: 25px;
}
.gioithieu7 {
  margin-top: 20px;
  margin-left: 350px;   
}
.thaygiao {
  margin-left: 135px;
}
.thaygiao span {
  color: yellow;
}
.hoho {
      margin-right: -135px;
    margin-top: -20px;
    padding: 2px 6px ;
     background-color: #ed1c24;
      float: right;
      color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
  color: #131111;
}
.aaa {
  margin-top: 12px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  background: yellow;
}

header {
  color: #fff;
  padding: 20px;
  padding-left: 100px;
}
.header {
  background-color: #333;
  margin-top: -20px!important;
}
.container-fluid {
  border-bottom: 1px solid #000;
  background-color: white;
}
header h6 {
  font-size: 18px;
  line-height: 25px;
}
img {
  width: 100%;
}

i {
  color: red;
  }
.vivu {
  text-align: center;
}
.hai {
  color: yellow;
}
.colLeft .fa {
  color: green;
}
.colLeft {
  white-space: pre-line;
}
.main {
  padding: 0 80px;
}

.container23{
    text-align: center;
    background-color: #6186c6;
    margin-top: 100px;
    height: 64px;
    color: white;
}

.container22 {
  background: #6186c6;
  margin-top: 50px;
}
.col ul li {
  list-style-type: none;
  line-height: 25px;
}
.col {
  
  margin-top: 10px;
  color: #fff;
}
.foo {
  margin-top: -20px;
  text-align: center;
  color: #fff;
}
.ullll ul li {
  margin-left: -25px; 
  list-style-type: none;
}

.gioihtieuu {
  margin-top: -25px!important;
  margin: 0 420px;
  border: 1px solid black;
}
.videogioithieu {
  margin-left: 500px;
}

.hinhanh img {
  margin-top: 30px;
  text-align: center;
    margin: 0 50 40px;
  width: 30%;
  border-radius: 50%;
}
.hinhanh {
  text-align: center;
}
.khoahoc {

      margin: 30px 152px;
  }
  .ragiua h1 {
    margin: 50px;
    color: #6186c6;
  }

   .ragiua {
    text-align: center;
    padding: 0 150px;
   }
  .mau {
    color: #FA58D0
  }
  .mau1 {
    color: yellow;
  }
  .mau2 {
    color: #6186c6;
  }
  .mau3 {
    color: green;
  }

.hinhanh img:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.luuy{
  background-color: #DF0029;
  width: 40px;
  color: #FEEBD0;
  font-size: 13px;
  font-weight: bold;
  border-radius: 3px;
}
.in_kichhoat{
  margin-left: 350px;
  margin-top: 50px;
}

.in_kichhoat a{
  color: blue;
}

.number{
  background-color: #555555;
  border-radius: 50%;
  width: 20px;
}

.tkhv{
  color: 
}

.entercode{
  text-align: center;
  margin-top: 50px;
}
.entercode input{
  width: 700px;
  height: 50px;
  border-radius: 8px;
  text-align: center;
}

#btnSubmit{
  width: 200px;
  margin-left: 500px;
}

.text_kickhoat{
  margin-left: 103px;
}

ul li{
  margin-top: 20px;
}

.mid {
  text-align: center;
}

ul li a{
  color: blue;
}