body {
  background-image: url(http://data.sinhvienit.net/2012/T07/img/SinhVienIT.NET---resized-piotrfurman4.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

form { margin: 0px 10px; }

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.container {
   max-width: 360px;
   margin-top: 30px;
}

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.divider hr {
  margin: 7px 0px;
  width: 35%;
}

.left { float: left; }

.right { float: right; }


.logo{
  text-align: center;
}

.logo img{
  width: 150px;
}

.To_login a{
  color: blue;
}

.To_login{
  margin-left: 20px;
}

.text_footer{
  text-align: center;
  color: white;
}

.dieukhoan a{
  color: green;
}

.panel-body {
  background-color:  #E3E4FA;
}